IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Middle
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
IndentPPDirectives: BeforeHash

BreakBeforeBraces: Allman

AlwaysBreakAfterReturnType: None

SortIncludes: CaseInsensitive

# Regroup includes based on categories (main header, library <>, other header "")
IncludeBlocks: Regroup

MacroBlockBegin: "^TEST_DEFINE_CASE"

# vim: set filetype=yaml:
